/*
Theme Name: Super Cool Learning Tools Child Theme
Theme URI: https://wordpress.org/themes/twentytwenty/
Description: A child theme for Twenty Twenty.
Author: Victor - Dedicated Developers
Author URI: https://dedicateddevelopers.com/
Template: twentytwenty
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/

/* Important Notes for customizations */
/* 
1. Base font is 10px so if need 18px to any element so just use 1.8rem to element.
2. Please only use rem for font-size, height, width and other elements.
*/
@font-face {
  font-family: "AtmaLight";
  font-weight: normal;
  src: url("fonts/AtmaLight.eot");
  src: url("fonts/AtmaLight.eot") format("embedded-opentype"),
    url("fonts/AtmaLight.woff2") format("woff2"),
    url("fonts/AtmaLight.woff") format("woff"),
    url("fonts/AtmaLight.ttf") format("truetype"),
    url("fonts/AtmaLight.svg#AtmaLight") format("svg");
}
@font-face {
  font-family: "Atma-Regular";
  font-weight: normal;
  src: url("fonts/Atma-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Atma-Regular.woff") format("woff"),
    url("fonts/Atma-Regular.ttf") format("truetype"),
    url("fonts/Atma-Regular.svg#Atma-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atma-Medium";
  font-weight: normal;
  src: url("fonts/Atma-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Atma-Medium.woff") format("woff"),
    url("fonts/Atma-Medium.ttf") format("truetype"),
    url("fonts/Atma-Medium.svg#Atma-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atma-SemiBold";
  font-weight: normal;
  src: url("fonts/Atma-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Atma-SemiBold.woff") format("woff"),
    url("fonts/Atma-SemiBold.ttf") format("truetype"),
    url("fonts/Atma-SemiBold.svg#Atma-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtmaBold";
  font-weight: normal;
  src: url("fonts/AtmaBold.eot");
  src: url("fonts/AtmaBold.eot") format("embedded-opentype"),
    url("fonts/AtmaBold.woff2") format("woff2"),
    url("fonts/AtmaBold.woff") format("woff"),
    url("fonts/AtmaBold.ttf") format("truetype"),
    url("fonts/AtmaBold.svg#AtmaBold") format("svg");
}
@font-face {
  font-family: "MagnoliaSky";
  font-weight: normal;
  src: url("fonts/MagnoliaSky.eot");
  src: url("fonts/MagnoliaSky.eot") format("embedded-opentype"),
    url("fonts/MagnoliaSky.woff2") format("woff2"),
    url("fonts/MagnoliaSky.woff") format("woff"),
    url("fonts/MagnoliaSky.ttf") format("truetype"),
    url("fonts/MagnoliaSky.svg#MagnoliaSky") format("svg");
}
@font-face {
	font-family: 'MontserratRegular';
	src: url("fonts/MontserratRegular.eot");
	src: url("fonts/MontserratRegular.eot") format("embedded-opentype"), url("fonts/MontserratRegular.woff2") format("woff2"), url("fonts/MontserratRegular.woff") format("woff"), url("fonts/MontserratRegular.ttf") format("truetype"), url("fonts/MontserratRegular.svg#MontserratRegular") format("svg");
  }
  .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content cite, .entry-content figcaption, .entry-content table, .entry-content address, .entry-content .wp-caption-text, .entry-content .wp-block-file,* {
    font-family: "Atma-Regular"; 
}
 
.page-template-default a {
    color: #dd71ab;

}



body#body-v .atma-light {
  font-family: "AtmaLight";
}
body#body-v .atma-regular,
body#body-v p, body#body-v li {
  font-family: "Atma-Regular";
  line-height: 1.3;
}
body#body-v .atma-semi-bold {
  font-family: "Atma-SemiBold";
}
body#body-v .atma-medium {
  font-family: "Atma-Medium";
}
body#body-v .atma-bold {
  font-family: "AtmaBold";
}
body#body-v .magnolia-sky {
  font-family: "MagnoliaSky";
}

body#body-v .txt-color-dark-black {
  color: #231f20;
}
body#body-v .txt-color-green {
  color: #c9ebdc;
}
body#body-v .txt-color-pink {
  color: #f1a1d2;
}
body#body-v .txt-color-dark-pink{
  color: #dd71ab;
}
body#body-v .txt-color-dark-green {
  color: #94cdb3;
}
body#body-v .txt-color-white {
  color: #ffffff;
}

body#body-v .pink-cta a{border:solid 2px #dd71ab; background-color:#f1a1d2; font-size:20px; font-family: "Atma-Regular";  padding:12px 30px; font-size:18px;}
body#body-v .pink-cta a:hover{border:solid 2px #94cdb3; background-color:#c9ebdc; text-decoration:none;}

body#body-v .margin-bottom-v{margin-bottom:40px; float:left; width:100%;}

body {
  color: #231f20;
  font-family: "Atma-Regular";
  letter-spacing: 0;
}

body#body-v .margin-top-vv {margin-top:20px;}


.primary-background-color {
  background-color: #f1a2d2;
}

.alignnone,
.aligncenter {
  margin-bottom: 0;
  margin-top: 0;
}

/* Top header space */
.header-inner {
  padding: 1.3rem 0;
/*  max-width: 117rem; */
  max-width: 135rem;
}

/* Logo height */
.site-logo img {
  max-height: 14.1rem;
}

/* Navigation links space */
.primary-menu > li {
  margin: 0.8rem .8rem 0 .8rem;
}
ul.primary-menu {
  font-weight: normal;
  letter-spacing: 0;
}

.header-top-v {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.header-titles-wrapper {
	width: 53%;
	margin-right: 0;
}

.header-navigation-wrapper {
  flex-wrap: wrap;
}

body#body-v.home  .entry-header {
  display: none;
}
.entry-content > .alignfull {
  margin-bottom: 0;
  margin-top: 0;
}
.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
  padding-left: 0;
  padding-right: 0;
}
.wp-block-column:not(:first-child) {
  margin-left: 0;
}
[class*="__inner-container"]
  .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
[class*="__inner-container"]
  .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}
.wp-block-archives:not(.alignwide):not(.alignfull),
.wp-block-categories:not(.alignwide):not(.alignfull),
.wp-block-code,
.wp-block-columns:not(.alignwide):not(.alignfull),
.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull),
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-media-text:not(.alignwide):not(.alignfull),
.wp-block-preformatted,
.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video:not(.alignwide):not(.alignfull) {
  margin-bottom: 0;
  margin-top: 0;
}
.widget_archive a, .widget_categories a, .widget_pages a, .widget_meta a, .widget_nav_menu a{font-weight:normal;}
ul.social-icons {
  justify-content: center;
}
body#body-v .header-footer-group, body:not(.overlay-header) #site-header .toggle, .menu-modal .toggle {
	color: #231f20;
}
.video-root-v .alignfull {
  border: none;
  background: #f1a2d2;
  overflow: hidden;
}

body#body-v .footer-copyright {
	font-weight: normal;
}

.video-col-v {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  overflow: hidden;
}

.video-col-v video {
  max-width: 76%;
  float: left;
  width: 100%;
  height: 100%;
}

.video-text-v {
  width: 100%;
  max-width: 1700px;
  display: block;
  margin: 0 auto;
  clear: both;
  flex-basis: 100%;
  flex-grow: 1;
}

.video-text-v .video-text-block-v.alignwide {
  width: 100%;
  max-width: 885px;
  position: relative;
  float: right;
  overflow: hidden;
  height: 625px;
  background: url(../../uploads/2020/05/video-cover.png) left center no-repeat;
  z-index: 3;
  padding-top: 55px;
}

.footer-widgets.column-one {
  width: 72%;
}
.footer-widgets.column-two {
  width: 20%;
}
body#body-v .footer-nav-widgets-wrapper {
  background: #c9ebdb ;
}

 

.powered-by-wordpress {
  display: none;
}
.footer-copyright,
.footer-credits {
  text-align: center;
  width: 100%;
}
.footer-social-wrapper {
  margin: 0;
  width: 100%;
  margin-top: 30px;
}
body#body-v .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
body#body-v .footer-menu a,
body#body-v .footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote::before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: #231f20;
}

body#body-v .social-icons a {
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  color: #231f20;
  display: flex;
  height: 3.4rem;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  transition: transform 0.15s ease-in-out;
  width: 3.4rem;
}
.social-icons a,
#site-footer button:not(.toggle),
#site-footer .button,
#site-footer .faux-button,
#site-footer .wp-block-button__link,
#site-footer .wp-block-file__button,
#site-footer input[type="button"],
#site-footer input[type="reset"],
#site-footer input[type="submit"] {
  background-color: #ffffff;
}
.social-icons a,
#site-footer button:not(.toggle),
#site-footer .button,
#site-footer .faux-button,
#site-footer .wp-block-button__link,
#site-footer .wp-block-file__button,
#site-footer input[type="button"],
#site-footer input[type="reset"],
#site-footer input[type="submit"] {
  background-color: #ffffff;
}

.uagb-block-60f781e0-bd69-4c52-9e4d-4500da1ebb45
  .uagb-post__text
  .uagb-post__excerpt {
  margin-bottom: 25px;
  color: #231f20;
}

body#body-v .primary-menu a {
  font-size: 2rem;
  font-family: "Atma-SemiBold";
  color: #231f20;
}
body#body-v .primary-menu a:hover {
  color: #dd71ab;
  text-decoration: none;
}

body#body-v .video-text-block-v h2.magnolia-sky {
  padding-bottom: 20px;
  font-size: 3rem;
}

body#body-v .video-text-block-v p {
  font-size: 2.6rem;
  max-width: 421px;
  margin: 0 auto;
}
body#body-v .welcome-text-section h2{max-width:800px; margin: 25px auto 0 }
body#body-v .welcome-text-section {  padding:75px 0 200px; border:dotted 2px #c9ebdb}
body#body-v .zerly-img-section img {margin-top: -136px;}

.subscribe-form-section{position: relative;}
.stars-img img {
	position: relative;
	left: -88px;
	bottom: 46px;
}

/* Feature-section */

body#body-v .feature-section{margin-top:100px;  background: url(../../uploads/2020/01/stars-bg.png) 54% 97% no-repeat; padding-bottom:100px;  border-bottom:dotted 2px #f1a1d2; margin-bottom:100px;}
body#body-v .feature-section2{margin-top:100px;  background: url(../../uploads/2020/01/stars-bg.png) 54% 97% no-repeat;    margin-bottom:50px;}
body#body-v #site-footer {
	background: #95cdb4 url(../../uploads/2020/01/white-stars.png) center bottom no-repeat; padding-bottom:90px;
}

ul.wc-block-grid__products li.wc-block-grid__product {
 
	margin-bottom: 1.2em;
}

.latest-blog-section .uagb-post__image{border:solid 10px #94cdb3}
body#body-v  .uagb-post__text .uagb-post__cta {
	background:transparent;
	float:left;
}
 
body#body-v .latest-blog-section .uagb-post__title a {
 
	font-family: "Atma-Medium";
	 
}
body#body-v  .uagb-post__text .uagb-post__cta a {
font-weight:bold;
	text-transform: uppercase; 
}
  
body#body-v .latest-blog-section .uagb-post__excerpt {
 
	text-align:left;
}
 
body#body-v  .uagb-post-grid .uagb-post__text {
	border:dotted 2px #94cdb3;
	padding-bottom:50px;
}

.header-cart-v{ float:left;}
 
.header-cart-v i {
  color: #55ac84;
  text-decoration:none;
  
}
.header-top-right {
	float: right;
	margin: 0;
	margin-right: 50px;
}
.menu-woocomerce-container ul{margin:0; padding:0; list-style:none;}
.menu-woocomerce-container ul li{ list-style-type:none; float:left; margin:  0 22px}
.menu-woocomerce-container ul li a{ list-style-type:none; float:left; font-size:18px; font-family: "Atma-Regular"; color:#231f20; text-decoration:none; font-weight:normal;}
.top-bar-v {width: 100%;display: block;padding: 15px 0;	background-color: #ffffff; float: left;	text-align: center;}
.top-bar-v-wrap{max-width:1140px; margin:0 auto; float:none; position:relative;}
.header-titles-wrapper {
	align-items: left; 
  text-align: left;
  justify-content: left;
}

.header-toggles {
	position: absolute;
	right: 50px;
	margin: 0;
	padding: 0 0 30px 0px;
	top: -11px;
}
.toggle-inner .toggle-text {
	left: 0;
	right: 0;
	text-align: center;
	top: calc(100% - -0.3rem);
	width: auto;
}

.header-toggles .toggle {
	padding: 0;
}

.custom-page-menu{width:100%; display:block; float:left; background-color:#ffffff; margin-top:20px;}

.custom-page-menu-wrap{width:96%; max-width:1170px; margin:0 auto; text-align:center}
.custom-page-menu li{display:inline-block; list-style-type:none; padding:0; margin:0;  }
.custom-page-menu li a{color:#231f20; text-decoration:none; background-color:#d1eadf;margin:0; padding:10px; display:block; }
.custom-page-menu li a:hover{ background-color:#f1a1d2; color:#ffffff; }
.custom-page-menu #menu-new-menu {margin: 0;padding: 0; background: #d1eadf; border:solid 1px #9ad1b8;}



.custom-page-menu2{width:100%; display:block; float:left; background-color:#ffffff;  margin-top:20px;}
.custom-page-menu-wrap2{width:96%; max-width:1170px; margin:0 auto; text-align:center;}
.custom-page-menu2 li{display:inline-block; list-style-type:none; padding:0; margin:0;  }
.custom-page-menu2 li a{color:#ffffff; text-decoration:none; background-color:#f1a1d2;margin:0; padding:10px; display:block; }
.custom-page-menu2 li a:hover{ color:#231f20; background-color:#d1eadf;  }
.custom-page-menu2 #menu-new-menu {margin: 0;padding: 0; background: #f1a1d2; border:solid 1px #DD71AB;}

.custom-page-menu3{width:100%; display:block; float:left; background-color:#f1a1d2;  margin-top:20px; margin-bottom:40px;}
.custom-page-menu-wrap3{width:96%; max-width:1170px; margin:0 auto; text-align:center;}
.custom-page-menu3 li{display:inline-block; list-style-type:none; padding:0; margin:0;  }
.custom-page-menu3 li a{color:#ffffff; text-decoration:none; background-color:#f1a1d2;margin:0; padding:10px; display:block;}
.custom-page-menu3 li a:hover{ color:#231f20; background-color:#d1eadf;  }
.custom-page-menu3 #menu-new-menu{margin: 0;padding: 0; background: #f1a1d2;  }

.custom-page-menu4{width:100%; display:block; float:left; background-color:#eeeeee;  margin-top:20px;}
.custom-page-menu-wrap4{width:96%; max-width:1170px; margin:0 auto; text-align:center;}
.custom-page-menu4 li{display:inline-block; list-style-type:none; padding:0; margin:0;  }
.custom-page-menu4 li a{color:#231f20; text-decoration:none; background-color:#eeeeee;margin:0; padding:10px; display:block; }
.custom-page-menu4 li a:hover{ color:#ffffff; background-color:#f1a1d2;  }
.custom-page-menu4 #menu-new-menu {margin: 0;padding: 0; background: #eeeeee;  }
figure.wp-block-gallery.alignwide, figure.wp-block-gallery.alignfull {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

figure.wp-block-gallery.alignwide img, figure.wp-block-gallery.alignfull img {
max-width:370px;
}
 
body#body-v h1, body#body-v .heading-size-1 {
  font-size: 44px;
  text-align:left;
 
}
 
body#body-v.singular .entry-header {
	padding: 4rem 0 2rem;
}

 
body#body-v .section-inner.medium {
	max-width: 1170px;
}
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 1170px;
	width: calc(100% - 4rem);
}
body#body-v .margin-top-50 {margin-top:100px;}



/*Reading-page Settings*/
.main-content {max-width: 1170px; width: 96%; margin: auto;}
.category-menu {max-width: 270px;float: left; width: 20%;}
.products-part {max-width: 1170px;float: none; width: 100%; padding: 0px 0px;}
.readings-box {width: 100%;display: inline-block;}
.readings-inner-box {width: 33.3333%; float: left; padding: 0px 5px;    margin-bottom: 15px;}
.category-menu ul {margin: 0px; list-style: none;}
.category-menu ul li {margin: 0px; padding-bottom: 10px;}
.category-menu ul li a{text-decoration:none;}
.sort-by-n, .no-of-products-n {width: 50%; float: left;}
.no-of-products-n{	text-align:right;}
.blog-posts-part {border-top: 2px dotted #c9ebdc; height: 20px; display: inline-block; width: 100%; text-align:center;}
.sorting {padding: 15px 5px; border-top: 2px dotted #c9ebdc; display: inline-block; width: 100%;}
.sort-by-n label, .no-of-products-n label {display: inline-block; font-size: 1.6rem; font-weight: 400; margin: 0 0 0.5rem 0;}
.sort-by-n select, .no-of-products-n select {font-size: 1em; padding: 5px; font-size: 1.5rem; max-width: 120px; width: 50%; margin-left:5px;}
.blog-section-common {width: 33.3333%; float: left;padding: 0px 10px; text-align: left; margin: 10px 0px; min-height: 425px;}
.blog-image {border: solid 10px #94cdb3;}
.blog-content {padding: 36px; border: dotted 2px #94cdb3; background: #ffffff; min-height:280px}
.blog-content h3{color: #3b3b3b; font-size: 26px; font-weight: 400; margin:0px 0px 25px 0px; text-align:center;}
body#body-v #text-setting-n p{font-size: 16px; font-family: 'Atma-Regular'; font-weight: 400; line-height: 1.5em; margin-bottom: 0;}
.heading-blog img {margin: auto; padding: 80px 0px 20px;}
.custom-page-menu-wrap3 ul {margin: 0px;}
#body-v .primary-menu ul {background-color: #f3f3f3; z-index:9999;}
#body-v .primary-menu > li > ul:after {border-bottom-color: #f3f3f3; z-index:9999;}
#site-header {z-index: 9; overflow: visible;}
.yith-wcwl-add-button a i {margin: 0px;}
.yith-wcwl-add-button span {display: none;}
#body-v a:hover{text-decoration:none;}
#body-v a.button {border: 2px solid #a9d8c2; background: none; color:#a9d8c2;}
#body-v a.add_to_wishlist{border: 2px solid #dd70ab; background: none; color:#dd70ab;}
 
#body-v .woocommerce ul.products li.product {position: relative;}

/* Breadcrumb Styling */
#breadcrumbs{list-style:none; margin:0px; overflow:hidden; text-transform: capitalize;}
#breadcrumbs li{display:inline-block;vertical-align:middle; margin:0px;}
#breadcrumbs .separator {font-size: 18px; font-weight: 100; color: #ccc; margin: 0px 5px;}
.breadcrumb{border-top: 3px dotted #c9ebdc; border-bottom: 3px dotted #c9ebdc; display: inline-block; width: 100%; margin-bottom: 30px;}
.breadcrumb-container{
	max-width:1170px;
	width:96%;
	margin:auto;
	padding:15px 0px;
}
/*Single Page set*/
.upper-box {display: inline-block; width: 100%;}
.col-image {width: 35%; float: left;}
.col-image img {margin: auto;}
.product-heading h1 {margin-top: 10px;}
.col-short-details {width: 60%; float: right;}
.product-button a{-webkit-appearance: none; -moz-appearance: none; background: #cd2653; border: none; border-radius: 0; color: #fff; cursor: pointer; display: inline-block; font-size: 1.5rem; font-weight: 600; letter-spacing: 0.0333em; line-height: 1.25; margin: 0; opacity: 1; padding: 1.1em 1.44em; text-align: center; text-decoration: none; text-transform: uppercase; transition: opacity 0.15s linear;}
.product-button {margin-top: 30px;}

/*Blog page Settings*/
.blog-banner {background-image:url(img/blog-banner.jpg);padding: 6% 0%;background-size: cover; background-position: center top; background-repeat: no-repeat;}
.blog-main-container {max-width: 700px; margin: auto; text-align: center; color: #fff;}
.show-all-blog-outter {max-width: 1170px; margin: auto; width: 96%;}
.image-part {border: solid 10px #94cdb3;max-width: 368px; float: left;}
.blog-posts {display: inline-block; width: 100%;margin-bottom: 50px;}
.content-part {width: 65%; float: right;}
.content-part {max-width: 802px; float: right; width: 69%; padding: 20px; box-sizing: border-box; border: 2px dotted #c9ebdc;}
.content-part h3 {margin-top: 0px;}
.blog-main-container h2{margin-top:0px;}
.blog-heading img {margin: auto; padding: 80px 0px 30px;}
.content-part a {display: block; margin-top: 10px; font-size: 21px; text-decoration: none;}
.video-container {position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;}
.video-container iframe, .video-container object, .video-container embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.main-video-box {max-width: 970px; margin: auto;width: 96%;}
.video-container-outter {border-top: 2px dotted #c9ebdc;}

/*Banner Section Lessons Page*/
.banner {background-color: #cae8da;}
.bottom-banner-outter {
    text-align: center;
    border-bottom: 2px dotted #c9ebdc;
    padding: 28px 0px 32px;
    margin-bottom: 50px;
}
.banner-box {width: 33.33333%; float: left; padding:0px 15px; box-sizing:border-box;}
.bottom-banner {max-width: 1170px; display: inline-block; width: 96%;}
.banner-box img {margin: auto;}
.popular-box {
    text-align: center;
    margin-bottom: 48px;
}
.button-container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    display: inline-block;
    background-image: url(img/background-center.png);
    background-repeat: no-repeat;
    background-position: center top;
	    padding-top: 44px;
}
.button-1 {
    max-width: 310px;
    float: left;
    width: 100%;
    border: 2px dotted #c9ebdc;
    font-size: 30px;
	padding: 6px;
	cursor:pointer;
}
.button-1:hover {
	background-color:#c9ebdc;
	color:#FFFFFF;
}
.button-2 {
    max-width: 310px;
    float: right;
    width: 100%;
    border: 2px dotted #f2a0d2;
    font-size: 30px;
	padding: 6px;
	cursor:pointer;}
.button-2:hover {background-color:#f2a0d2; color:#FFFFFF;}
.indications-inner img {float: left;}
.products-call {margin-bottom: 50px;}
.indications-text .headline img {margin: 29px auto 38px;}
.indications-inner {max-width: 420px; width: 100%; margin: auto; display: inline-block;}
.indications {text-align: center;}
.indications .left-arrow img {float: right;}
.indications .left-arrow {width: 48%; float: left;}
.indications .right-arrow {width: 48%; float: right;}
.green_line{background-image: url(img/green-line.jpg); background-repeat: no-repeat; background-position: center;}
.pink_line{background-image: url(img/pink-line.jpg); background-repeat: no-repeat; background-position: center;}
.regular1 button {visibility: hidden;}
.regular button {visibility: hidden;}
#body-v {overflow-x: hidden;}
.woocommerce-pagination {margin-bottom: 15%;}
.ela-page .blog-section-common {margin-bottom: 25px;}
.ela-page .readings-box {padding-top: 50px;}
a.to-the-top {position: fixed; right: 20px; z-index: 9999; bottom: 20px;}

/*Woocommerce setting*/
#body-v .woocommerce-product-gallery--columns-4 .flex-control-thumbs li {width: 18.285714%; margin: 0px 6.285714% 1.6em 0;}
#body-v .woocommerce-product-gallery img {display: block; height: auto; margin: auto;}



.thumbnails {text-align: center; padding-top: 30px;}
.thumbnails img {display: inline-block; width: 100px;}



/*Lightbox CSS*/

.lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{width:100%;z-index:10000;font-weight:400;outline:0}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(images/loading.gif) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

/*Lightbox Ended*/


.page-template-template-shop .custom-page-menu-wrap3 li:last-child{display:none}
.woocommerce-result-count,form.woocommerce-ordering{display:none }
 
 

.woo_pp_cart_buttons_div, .single-product .entry-summary .product_meta .posted_in{display:none;}

.woocommerce-breadcrumb {
	border-top: 3px dotted #c9ebdc;
	border-bottom: 3px dotted #c9ebdc;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	padding:15px 0;
	max-width:100%
}

.woocommerce-breadcrumb .woo-bread-wrap-v {width:94%; max-width:1170px; margin:0 auto;}

.flex-control-thumbs img  {
	height: auto;
	max-width: 160px;
	width: 100%;
}

/*
#body-v .woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 32%;
	margin: 0px .5% 1em .5%;
}*/

#body-v .woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 32%;
	margin: 0px .5% 1em .5%;
}
.shop-link-v{margin-left:5px;}

h1, .heading-size-1, h2, .heading-size-2, h3, .heading-size-3 {
	margin: 2rem auto 3rem;
}

.woocommerce .content-area {
    max-width: 1600px;
    padding: 2px 6vw;
    margin: 0 auto;
}

#tab-title-reviews, .single-product .woocommerce-tabs .tabs.wc-tabs #tab-title-description{display:none;}

.woocommerce-product-gallery--columns-4 ol {
    margin-left: 0;
    max-width: 500px;
    margin-bottom: 0;
    margin: 0 auto;
}

.thumbnails img {
    display: inline-block;
    width: 134px;
}

.category-menu-vv.custom-page-menu3 li a {background-color: #95cdb4;}
.category-menu-vv.custom-page-menu3 li a:hover {color: #231f20;background-color: #d1eadf;}
.single-product .woocommerce-tabs {margin: 1rem 0 1rem; border-top: 3px dotted #c9ebdc;	width: 100%;	margin-bottom: 30px;	padding: 15px 0 40px;	max-width: 100%;}


#post-708 .category-menu-vv.custom-page-menu3 li a,#post-707 .category-menu-vv.custom-page-menu3 li a {background-color: #f1a1d2 ;}
#post-708 .category-menu-vv.custom-page-menu3 li a:hover,#post-707 .category-menu-vv.custom-page-menu3 li a:hover {background-color: #d1eadf ;}
 
.woocommerce-product-gallery {
	margin-bottom: 4rem;
}

ul.products li.product .added_to_cart {
	position: absolute;
	left: 0;
	bottom: -42px;
}
.exists.wishlist-fragment .feedback,#yith-wcwl-popup-message  {
	display: none !important;
}



#body-v .yith-wcwl-add-to-wishlist.add-to-wishlist-173{display:none !important}


.menu-v7.primary-menu > li.menu-item-has-children > a {
	padding-right: 2rem;
}

ul.wc-block-grid__products {
	justify-content: center;
}
.toggle.search-toggle {
 
	left: 0;
	top: 10px;
}

.page-template-template-freebies-products .blog-content {
	background: #ffffff;
}

#post-697 .category-menu-vv.custom-page-menu3 li a {
	background-color: #f1a1d2;
}

#post-697 .category-menu-vv.custom-page-menu3 li a:hover {
	background-color: #d1eadf;
}

#body-v .ela-cat-v {display:none;}

#body-v .ela-cat-v.ELA{display:inline-block;}

.sorting{visibility:hidden; height:40px;}
.gallery-section-v {	max-width: 500px;	float: none;	clear: both;	display: block;}
 
 /*



#breadcrumbs{overflow:visible;}


ul.child-category-v {background: #f2f2f2; display: none;  position: absolute; z-index: 999; left: 0; width:250px; top:0;}

.parent-category-root  li {position:relative;}
.parent-category-root  li:hover ul.child-category-v {display: block;}
.child-category-v li{display: block; width:100%; padding:5px; }



*/
ul.parent-category-root{margin:0; padding:0;}

#breadcrumbs li ul.child-category-v{display:inline-block; padding:0; margin:0;}

#breadcrumbs li ul.child-category-v li{display:none;  padding:0; margin:0;}

#breadcrumbs li ul.child-category-v li:nth-child(1),#breadcrumbs li ul.child-category-v li:nth-child(2){display:inline-block;}
 

.home-feature-imgs .wp-block-image img {
	max-width: 200px;
}

.home-feature-imgs [class*="__inner-container"] > .alignwide {max-width: 1046px;width: 100%;}

body#body-v .Homeproduct-section{  border-bottom:dotted 2px #f1a1d2; padding-bottom:100px;    margin-bottom:100px;}
.Homeproduct-v{  margin:1%; display:block; float:left;  position:relative; flex-grow: 1; width: 30%; align-items: center; opacity:1;  transition: opacity .6s;}

.clearfix3{clear:both; width:100%}
.Homeproduct-img img{ display:inline-block; width:100%;}
body#body-v .homeproduct.alignfull {max-width:1000px; text-align:center; display:flex;  flex-wrap: wrap;    }

.feature-section2 .wp-block-image img {
	max-width: 100%;
	margin: 0 auto;
	text-align:center;
	}

body#body-v .Homeproduct-section {
	border-bottom: dotted 2px #f1a1d2;
	padding-bottom: 100px;
	margin-bottom: 100px;
	float: left;
	display: block;
	width: 100%;
	background: url(../../uploads/2020/01/stars-bg.png) center 97% no-repeat;
	padding-bottom: 200px;
}
 
.product-button .ss-inline-share-wrapper a {background:inherit}
 

.Homeproduct-v:hover {opacity: .5; }

.product-button-cart .add_to_cart_inline{ border:none !important; padding-left:0 !important; }
#body-v .product-button-cart   .simple_add_to_cart_button,.product-button a {background:#ffffff; border: 2px solid #a9d8c2; -webkit-appearance: none;-moz-appearance: none; border-radius: 0; color: #a9d8c2;  text-transform: uppercase; transition: opacity 0.15s linear; padding:13px 30px ;}
#body-v .product-button-cart   .simple_add_to_cart_button:hover{text-decoration:none !important; opacity:.7;}
#body-v .product-button-cart   .ea-line.quantity-container {width:75px; margin-right:7px;}
#body-v .product-button a:hover{text-decoration:none !important; opacity:.7;}
#body-v .add_to_cart_inline .woocommerce-Price-amount{ display: block; margin-top: 0; font-size: 24px; padding-bottom: 5px; }
#body-v .product-button-cart .added_to_cart.wc-forward {padding-left:10px;}
#body-v .product-button a[href=""], #body-v .product-button a[href="#"] { display: none;}
#body-v .product-button-cart .ea-text {	font-size: 0;	display: block;	padding-bottom: 5px;	width: 100%;}
#body-v .product-button-cart .ea-separator{display:none;}
#body-v .product-button-cart .ea-price,.summary.entry-summary .price {font-size: 26px;display: block;}
#body-v .product-button-cart{width:312px; position:relative;}
#body-v .product-button-cart a.add_to_wishlist.single_add_to_wishlist {padding: 12.5px 15px;}
/*#body-v .product-button-cart   .yith-wcwl-wishlistexistsbrowse {	position: relative;	right: -43px; top:-10px}*/
.woocommerce-breadcrumb a, .woo-bread-wrap-v,.woocommerce-breadcrumb{font-family: "Atma-Regular"; font-size:18px;}
 
 
#breadcrumbs b, #breadcrumbs strong {font-weight:normal;}
 
 .woocommerce-product-gallery__trigger{display:none;}
 
.summary.entry-summary button.single_add_to_cart_button{background:#ffffff; border: 2px solid #a9d8c2; -webkit-appearance: none;-moz-appearance: none; border-radius: 0; color: #a9d8c2;  text-transform: uppercase; transition: opacity 0.15s linear; padding:13px 15px ;}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
    width: 60%;
    clear: none;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: left;
    width: 35%;
 
}

.single-product .summary p.price {
    margin-bottom: .5em;
	margin-top:1.5em;
}

.woocommerce-tabs #tab-description h2, .woocommerce-tabs #tab-description p,.blog-section-common #text-setting-n p, .blog-content , .blog-content p {
   font-family: "Atma-Regular"; 
}

.single-product div.product .product_meta {display: none;}

 .blog-content { 	background: #ffffff; }
 
 
#body-v button:not(.toggle), #body-v .button, #body-v .faux-button, #body-v .wp-block-button__link, #body-v .wp-block-file .wp-block-file__button, #body-v input[type="button"], #body-v input[type="reset"], #body-v input[type="submit"], #body-v .bg-accent, #body-v .bg-accent-hover:hover, #body-v .bg-accent-hover:focus, #body-v :root .has-accent-background-color, #body-v .comment-reply-link,button, #body-v .button, #body-v .faux-button,  #body-v .wp-block-button__link, #body-v .wp-block-file .wp-block-file__button, #body-v input[type="button"], #body-v input[type="reset"], #body-v input[type="submit"],#body-v button:not(.toggle),#body-v  .button, #body-v .faux-button,#body-v .wp-block-button__link, #body-v .wp-block-file .wp-block-file__button, #body-v input[type="button"],#body-v input[type="reset"], #body-v input[type="submit"], #body-v .bg-accent,#body-v  .bg-accent-hover:hover,#body-v  .bg-accent-hover:focus, #body-v :root .has-accent-background-color, #body-v .comment-reply-link {
	background:#ffffff; border: 2px solid #a9d8c2; -webkit-appearance: none;-moz-appearance: none; border-radius: 0; color: #a9d8c2;  text-transform: uppercase; transition: opacity 0.15s linear; padding:13px 30px ;  font-family: "Atma-Regular"; 
}


.woocommerce .content-area {
	max-width: 1170px;
	padding:0;
	margin: 0 auto;
	width:96%;
}

.singular .featured-media-inner { margin-bottom: 35px;}


 #body-v.post-template-default  .ss-inline-share-wrapper.ss-center-inline-content .ss-inline-share-content {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

 #body-v.post-template-default .ss-inline-share-wrapper {text-align:center}

.single .ss-inline-share-wrapper:last-child{display:none;}

.post-template-default.single .ss-inline-share-wrapper{display:block;}


.post-template-default.single  .ss-inline-share-wrapper { 	margin: 0 auto 25px; }


 #body-v.single  .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a{}
 

 /*#body-v.single  .yith-wcwl-wishlistexistsbrowse {	position: relative;	right: -43px; top:-10px}*/
 
#body-v .product-button-cart .yith-wcwl-add-to-wishlist {   margin-top: 10px;    position: absolute;    bottom: 0px;
    right: 0px;}

 

#body-v .clip-art-main-img-v{clear:both; width:100%; margin-bottom:25px ;}
.search-results .post-inner.thin .entry-content a {display:block; }
.search-results .post-inner.thin .entry-content a img.ss-hidden-pin-image{display: block !important; max-width:120px; float:left;}
.search-results .post-meta-single-top {display:none;}
.search-results  hr.post-separator, .search-results  hr.styled-separator {display:none;}
.search-results #site-content > article{margin: 0;	padding: 15px 0 15px;	background: #ffffff;}
body#body-v.search-results article .post-inner  .entry-content {max-width:1170px; margin:0 auto; float:none; width:100%;}
body#body-v.search-results .post-inner.thin .entry-content a{width:120px; display:block; float:left;   font-size:18px; background-color:#dddddd;  margin-right:20px;}
body#body-v.search-results .post-inner.thin .entry-content p{width:calc(100% - 140px); display:inline-block; font-size:16px;}
body#body-v.search-results h1, body#body-v .heading-size-1 {font-size: 32px; text-align: left;
padding-bottom:10px;}
#body-v .yith-wcwl-wishlistexistsbrowse a {	display: block;	background:url(../../uploads/2020/05/eye-icon.png) left 10px no-repeat;	font-size: 0;	width: 52px;	height: 61px;}
#body-v .product-button-cart .added_to_cart.wc-forward {display: block;	position: absolute; right: 0;}
.page-template-default .footer-copyright a {color:rgb(35,31,32);}
/*#body-v .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:first-child {
display: none;}*/
.video-text-v {	max-width:100%;}
.video-col-v video {max-width: 100%;}

 
#body-v.archive  ul.products li.product.type-product {flex-direction: inherit; flex-wrap: wrap;}
#body-v.archive  .product a.button.add_to_cart_button { width:72%; padding:13px 0; }
#body-v.archive .type-product .yith-wcwl-add-to-wishlist {  width:25%; margin-top:0; font-size:18px;}

#body-v.archive .yith-wcwl-add-to-wishlist a.add_to_wishlist {padding:13px;}



#body-v .related.products li.product.type-product {flex-direction: inherit; flex-wrap: wrap;}
#body-v .related.products a.button.add_to_cart_button { width:70%; padding:13px 0; }
#body-v .related.products .yith-wcwl-add-to-wishlist {  width:20%; margin-top:0; font-size:18px; margin-left:5%;}
#body-v .related.products .yith-wcwl-add-to-wishlist a.add_to_wishlist {padding:13px 20px;}


.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: none;
}
ul.footer-social {
	margin: -1rem 0 0 -1rem;
}

/*Responsive settings*/
@media (max-width: 1700px) {
  .video-col-v video {
    max-width: 100%;
    float: left;
    width: 100%;
    height: 100%;
  }
  .video-text-v .video-text-block-v.alignwide {
    max-width: 600px;
    padding-left: 76px;
  }
}
@media (max-width: 1280px) {
	 
#body-v .product  a.single_add_to_cart_button.button {	width: 100%;}




}
@media (max-width: 1230px) {
	.content-part {max-width: 100%; float: none; width: 100%; padding: 20px; box-sizing: border-box;}
	.image-part {float: none;}
	.blog-posts {max-width: 700px; margin: 0px auto 50px;display: block;}
	.image-part {float: none; max-width: 100%;}
	.image-part img {width: 100%;}
}
@media (max-width: 1140px) {
  .video-col-v video {
    max-width: none;
    width: auto;
  }
}
@media (max-width: 999px) {
	.mobile-search-toggle{display:none;}
	.header-top-right {float: right; margin: 0;margin-right: 0;}
	.header-cart-v {float: left; margin-left: 20px;}
	.header-inner {display: inline-block;width: 100%;}
	.header-titles-wrapper {width: 100%; margin-right: 0; max-width: 320px; padding: 0px 0px 0px 2rem;}
	
	.Homeproduct-v{    float:none; display:inline-block;}
}
@media (max-width: 985px) {
	.blog-section-common {width: 33.333%; float: left; padding: 0px 15px; text-align: left;}
	.blog-content {padding: 20px;}
}
@media (max-width: 910px) {
	#body-v a.button {font-size: 1.5rem;}
}
@media (max-width: 900px) {
  .wp-block-column.video-col-v {display: none;}
  .video-text-v .video-text-block-v.alignwide {max-width: 100%; padding-left: 0; width: 100%; background: none; height: auto; padding: 0 0 3.5rem 0;}
  h3, .heading-size-3 {font-size: 3rem;}
  .wc-block-grid.has-4-columns .wc-block-grid__product {
	-webkit-box-flex: 1;
	flex: 1 0 50%;
	max-width: 35%;
	padding: 0;
	margin: 0 0 24px;
}
#body-v.archive .product a.button.add_to_cart_button {
	width: 70%;
	padding-left: 0;
	padding-right: 0;
	margin-left:0;
}

#body-v .related.products a.button.add_to_cart_button{	width: 70%;	padding-left: 0;	padding-right: 0;}

}
@media only screen and (min-width:668px) and (max-width:768px) {
#body-v .related.products li.product.type-product{	width: 50%; margin:0 auto;}
.woocommerce .related.products ul.products, .woocommerce-page .related.products ul.products{flex-direction:row;}
}


@media (max-width: 775px) {
	.blog-section-common {width: 100%; float: none; padding: 0px 15px; text-align: left; max-width: 399px; margin: 0px auto 20px;min-height: auto;}
	.readings-inner-box {width: 100%; float: none; padding: 0px 5px; max-width: 380px; margin: 0px auto 15px;}
	.col-image {width: 100%; float: none;}
	.col-short-details {width: 100%; float: none; margin-top: 50px;}
    .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {float: none; width: 100%; max-width:none;}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {float: none;
	width: 100%; clear: none; margin-top: 50px;}
}
@media (max-width: 725px) {
	.button-container {width: 94%;}
}
@media (max-width: 699px) {
	#body-v .footer-widgets {width: 100%;}
}
@media (max-width: 670px) {
	.banner-box {width: 100%; float: none;}
	.banner-box:nth-child(2) {margin: 10px 0px;}
	.button-1, .button-2{max-width:250px;}
	.button-container {max-width: 540px;}
}
@media (max-width: 668px) {
.woocommerce .related.products ul.products, .woocommerce-page .related.products ul.products {flex-direction: row;}


}
@media (max-width: 667px) {
	ul.products li.product .woocommerce-loop-product__link {display: block; text-decoration: none; margin: auto;}
	#body-v a.button {font-size: 1.5rem;margin: auto;}
		
	#body-v.archive .type-product .yith-wcwl-add-to-wishlist {  width:auto;}
	#body-v.archive .product a.button.add_to_cart_button {width:80%;}
	#body-v.archive ul.products li.product.type-product {max-width: 370px;	margin: 0 auto 40px;}
	
	#body-v .related.products .yith-wcwl-add-to-wishlist {  width:auto; margin-left:0;}
	#body-v .related.products a.button.add_to_cart_button {width:80%; margin-left:0;}
	#body-v .related.products li.product.type-product {max-width: 370px;	margin: 0 auto 40px;}
	
	
	
}

@media (max-width: 530px) {
	.header-cart-v {float: none; margin-left: 0;}
	.header-top-right {float: none; text-align:center; margin-top:15px;}
	.menu-woocomerce-container ul li a{float:none;}
	#body-v .menu-woocomerce-container ul li {float: none;display: inline;}
	.nav-toggle .toggle-inner {padding-top: 2.8rem;}
	.toggle-inner .toggle-text {top: calc(100% - -1.3rem);}
	.wc-block-grid.has-4-columns .wc-block-grid__product {
	flex: 1 0 100%;
	max-width: 100%;
}
}
@media (max-width: 550px) {
	.button-container {max-width: 250px;}
	.button-2 {margin-top: 10px;}
	#body-v .slider {width: 85%; margin: 0px auto;}
	body#body-v .homeproduct.alignfull { align-items: center; justify-content: center;}
	.Homeproduct-v{    flex-grow: 0; width: 80%; margin-bottom:20px; }
}
@media (max-width: 400px) {.top-bar-v {padding: 10px 0 5px;}
	.header-titles-wrapper {max-width: 250px;}
 
	#body-v .product-button-cart {width: 288px; position: relative;}
	
	#body-v button:not(.toggle), #body-v .button, #body-v .faux-button, #body-v .wp-block-button__link, #body-v .wp-block-file .wp-block-file__button, #body-v input[type="button"], #body-v input[type="reset"], #body-v input[type="submit"], #body-v .bg-accent, #body-v .bg-accent-hover:hover, #body-v .bg-accent-hover:focus, #body-v :root .has-accent-background-color, #body-v .comment-reply-link, button, #body-v .button, #body-v .faux-button, #body-v .wp-block-button__link, #body-v .wp-block-file .wp-block-file__button, #body-v input[type="button"], #body-v input[type="reset"], #body-v input[type="submit"], #body-v button:not(.toggle), #body-v .button, #body-v .faux-button, #body-v .wp-block-button__link, #body-v .wp-block-file .wp-block-file__button, #body-v input[type="button"], #body-v input[type="reset"], #body-v input[type="submit"], #body-v .bg-accent, #body-v .bg-accent-hover:hover, #body-v .bg-accent-hover:focus, #body-v :root .has-accent-background-color, #body-v .comment-reply-link {padding: 13px 22px;}

#body-v.archive .product a.button.add_to_cart_button {
	width: 70%;
	padding-left: 0;
	padding-right: 0;
}
	#body-v .related.products .product a.button.add_to_cart_button {
	width: 70%;
	padding-left: 0;
	padding-right: 0;
}
}

@media (min-width: 1220px) {
  ul.primary-menu {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .entry-content > .alignwide {
    max-width: 117rem; /* 1170px max width for containers */
    width: 117rem;
  }
}

.page-id-229 h1.entry-title {display: none;}
.page-id-231 h1.entry-title {display: none;}
.page-id-227 h1.entry-title {display: none;}
.page-id-3 h1.entry-title {display: none;}

body#body-v.page-id-552 h1.entry-title {
    text-align: center;
	color:#55ac84;
}
#body-v .search-toggle .toggle-icon, #body-v .search-toggle svg {
    height: 19px;
    max-width: 19px;
    width: 19px;
    fill: #398964;
}
h2, .heading-size-2 {
    font-size: 4.5rem;
}

/*Academy Page CSS Styles*/
.box-setting {margin: 0px auto; max-width: 480px; width: 100%;}
.box-setting p {padding: 36px; border: dotted 2px #94cdb3; background: #ffffff;}
.box-setting figure {border: solid 10px #94cdb3;}
.box-setting p strong:first-child {font-size: 35px; margin-bottom: 0px; display: block;}
.video-gapping .wp-block-column {margin: 10px;}